<div class='hero-image'>
  <div class='hero-overlay'>
    <div class='hero-space'></div>
    <div class='row'>
      <div class='col-md-offset-6 col-sm-offset-4 col-xs-offset-3'>
        <h3 class='hero-text'>
          <b>STARTUP ACADEMY PRESENTS:</b>
        </h3>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-offset-6 col-md-3 col-sm-offset-4 col-sm-4 col-xs-offset-4 col-xs-5'>
        <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Asset/Rina-Startup+Hacks+Conf+-VS2.png' style='height: 100%; width: 100%;' />
      </div>
      <div class='col-md-3 col-sm-4 col-xs-5'>
        <h2 class='hero-text'>
          APRIL 22, 2017<br />
          <b>UBC</b> ROBSON SQUARE THEATRE
        </h2>
      </div>
    </div>
  </div>
</div>

<div class='slant-starter-blue-pos'></div>
<%= render partial: '/partials/intro' %>
<div class='slant-stacker-purple-neg'></div>
<div style='background-color: rgba(132,100,202,1);'>
  <%= render partial: '/partials/speakers/keynotes' %>
</div>
<%= render partial: '/partials/features'%>
