<div class='container'>
  <div class='page-space-xl'></div>
  <!-- <center> -->
    <h2 class='header-light'><b>CONFERENCE HIGHLIGHTS</b></h2>
  <!-- </center> -->

  <div class='page-space'></div>

  <div class='row'>
    <div class='col-md-4 col-sm-4 col-xs-4'>
    </div>
    <div class='col-md-8 col-sm-8 col-xs-8'>
      <h3 class='white'>
        &#8226; Keynote speeches from Industry Leading Entrepreneurs.
      </h3>
      <div class='page-space'></div>
      <h3 class='white'>
        &#8226; Social Entrepreneurship Panel
      </h3>
      <div class='page-space'></div>
      <h3 class='white'>
        &#8226; An Opportunity to run your idea through the best business advisors.
      </h3>
    </div>
  </div>
</div>
<div class='page-space-lg'></div>
