<div class='container'>
  <h2 class='header-dark'><b>WHAT IS STARTUP HACKS?</b></h2>
  <div class='page-space'></div>
  <h4 class='major-paragraph'><b>
    Startup Hacks is a non-coding, learning-based business startup hackathon including an all-inclusive series of workshops aimed towards individuals interested in starting up their own business. These workshops will prepare teams for a final venture pitch competition, which will be presented to a panel of business professionals. Startup Hacks features twelve workshops running weekly, with various topics spanning from Ideation, Prototyping, Business Foundations, and more.
  </b></h4>
</div>
