<div style='margin-top: 120px;'></div>
<div class='container'>
  <div class='row'>

    <!-- PURCHASE ONE -->
    <div class='col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5 col-xs-6'>
      <center>
        <h2 style='font-weight: 500'>Conference Day Pass</h2>
        <h3 class='pricing-text'>
          $15.00
        </h3>
      </center>
      <center>
        <div class='text-tainer'>
          <p>
            Join us as a Startup Hacker! Conference Attendees will have the opportunity to personally ask entrepreneurs questions during the exclusive Social Entrepreneur Q&A Panel. There will also be a networking session where attendees can make life long relationships with business professionals in different industries.
          </p>
        </div>
      </center>
    </div>

    <!-- PURCHASE TWO -->
    <div class='col-md-5 col-sm-5 col-xs-6'>
      <center>
        <h2 style='font-weight: 500'>2 For 1 Pass</h2>
        <h3 class='pricing-text'>
          $20.00
        </h3>
      </center>
      <center>
        <div class='text-tainer'>
          <p>
            Packages will be available in limited supply until February 13, 2017. Package include two conference day packages, entry to networking session, seating for keynote speeches, social entrepreneur Q&A Panel, and watching the venture pitch hackathon.
          </p>
          <p>
            Email <a href='wil@startupacademybc.org'>will@startupacademybc.org</a> about group discounts of 10 or more.
          </p>
        </div>
      </center>
    </div>

  </div>

  <div class='row'>

    <div class='col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5 col-xs-6'>
      <center>
        <a href='https://www.eventbrite.com/e/startup-hacks-2017-entrepreneurship-business-conference-tickets-30807089835' class='btn btn-primary'>
          Register<i class='fa fa-chevron-right' style='padding-left: 1em;'></i>
        </a>
      </center>
    </div>

    <div class='col-md-5 col-sm-5 col-xs-6'>
      <center>
        <a href='https://www.eventbrite.com/e/startup-hacks-2017-entrepreneurship-business-conference-tickets-30807089835' class='btn btn-primary'>
          Register<i class='fa fa-chevron-right' style='padding-left: 1em;'></i>
        </a>
      </center>
    </div>

  </div>

</div>

<div style='margin-bottom: 100px;'></div>
