<div class='page-space-xl'></div>
<section>

  <div class='container'>
    <div class='row row-grid'>

      <div class='col-sm-2 col-xs-4'>
        <div class='sponsor-panel'>
            <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Sponsor+Logos/ShakrLogo_16to9-554x311.png' class='sponsor-pic' />
        </div>
      </div>

      <div class='col-sm-2 col-xs-4'>
        <div class='sponsor-panel'>
            <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Sponsor+Logos/Spring-University-logo-1.png' class='sponsor-pic' />
        </div>
      </div>

      <div class='col-sm-2 col-xs-4'>
        <div class='sponsor-panel'>
            <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Sponsor+Logos/Unbounce-vertical-logo-light-background.png' class='sponsor-pic' />
        </div>
      </div>

      <div class='col-sm-2 col-xs-4'>
        <div class='sponsor-panel'>
            <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Sponsor+Logos/images.png' class='sponsor-pic' />
        </div>
      </div>

      <div class='col-sm-2 col-xs-4'>
        <div class='sponsor-panel'>
          <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Sponsor+Logos/futurpreneur_logo.png' class='sponsor-pic' />
        </div>
      </div>

      <div class='col-sm-2 col-xs-4'>
        <div class='sponsor-panel'>
          <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Sponsor+Logos/DoMoreLogoThin.png' class='sponsor-pic' />
        </div>
      </div>

    </div>

    <div class='page-space'></div>

    <div class='row row-grid'>

      <div class='col-sm-2 col-xs-4'>
        <div class='sponsor-panel'>
            <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Sponsor+Logos/HiVE_Logo_Neg-1.png' class='sponsor-pic' />
        </div>
      </div>

      <div class='col-sm-2 col-xs-4'>
        <div class='sponsor-panel'>
            <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Sponsor+Logos/imgres.png' class='sponsor-pic' />
        </div>
      </div>

      <div class='col-sm-2 col-xs-4'>
        <div class='sponsor-panel'>
            <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Sponsor+Logos/logo_horizontal_stacked.png' class='sponsor-pic' />
        </div>
      </div>

      <div class='col-sm-2 col-xs-4'>
        <div class='sponsor-panel'>
            <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Sponsor+Logos/protoio_logo.png' class='sponsor-pic' />
        </div>
      </div>

      <div class='col-sm-2 col-xs-4'>
        <div class='sponsor-panel'>
          <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Sponsor+Logos/8fd91d5a1b505e53b8550deab9e7f4a31db9438f_original.png' class='sponsor-pic' />
        </div>
      </div>

      <div class='col-sm-2 col-xs-4'>
        <div class='sponsor-panel'>
          <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Sponsor+Logos/01-BrainStation_Logo-stacked-blue.png' class='sponsor-pic' />
        </div>
      </div>

    </div>

    <div class='page-space'></div>

    <div class='row row-grid'>

      <div class='col-sm-2 col-xs-4'>
        <div class='sponsor-panel'>
          <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Sponsor+Logos/PortorLogo_LogoName_Stacked_Black_XXL.png' class='sponsor-pic' />
        </div>
      </div>

      <div class='col-sm-2 col-xs-4'>
        <div class='sponsor-panel'>
          <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Sponsor+Logos/Skillshare-Color-1.png' class='sponsor-pic' />
        </div>
      </div>

      <div class='col-sm-2 col-xs-4'>
        <div class='sponsor-panel'>
          <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Sponsor+Logos/capturede28099ecc81cran20160531acc8015-1.06.22.png' class='sponsor-pic' />
        </div>
      </div>

      <div class='col-sm-2 col-xs-4'>
        <div class='sponsor-panel'>
          <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Sponsor+Logos/dailyhive-summer-black.png' class='sponsor-pic' />
        </div>
      </div>
    </div>
  </div>
</section>
<div class='page-space-xl'></div>
