// FOOTER

.foot-nav a {
  background-color: rgba(0,0,0,0) !important;
  color: #FFF !important;
}

.foot-nav a:hover {
  background-color: rgba(0,0,0,0) !important;
  color: lightblue !important;
}

@media (min-width: 768px) {
  .footer {
    // position: absolute;
    bottom: 0;
    background-color: #4a4a4a;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .footer-logo {
    width: 10%;
    height: 10%;
  }

  .footer-text {
    display: flex;
    color: #fff;
  }
}
