body.modal-open-noscroll{
  margin-right: 0 !important;
  overflow: hidden;
}
.modal-open-noscroll .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
  margin-right: 0 !important;
}

.modal {
  overflow-y: auto;
}

.modal-open {
  overflow: auto;
}
