<div class='container'>
  <div class='page-space-xl'></div>
  <h2 class='header-light'><b>KEYNOTE SPEAKERS</b></h2>
  <div class='page-space'></div>
  <div class='row'>
    <div class='col-sm-4'>
      <div class='square transition fast' data-toggle='modal' data-target='#igor'>
        <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Keynote/igor-faletski2.jpg' class='keynote-image'/>
      </div>
    </div>

    <div class='col-sm-4'>
      <div class='square transition fast' data-toggle='modal' data-target='#daniel'>
        <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Keynote/Daniel+Dubois.jpg' class='keynote-image' />
      </div>
    </div>

    <div class='col-sm-4'>
      <div class='square transition fast' data-toggle='modal' data-target='#milun'>
        <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Keynote/Milun+Tesovic.jpg' class='keynote-image' />
      </div>
    </div>
  </div>
  <div class='page-space-xl'></div>
</div>
