<div class='container'>
  <div class='page-space'></div>
  <h2 class='header-light'><b>KEYNOTE SPEAKERS</b></h2>
  <div class='page-space'></div>

  <div class='row'>

    <div class='col-sm-4'>
      <div class='square transition fast' data-toggle='modal' data-target='#igor'>
        <div class='hoverlay transition fast'>
          <h3>Igor Faletski</h3>
          <p>
            CEO, Mobify
          </p>
        </div>
        <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Keynote/igor-faletski2.jpg' class='keynote-image transition'/>
      </div>
    </div>

    <div class='col-sm-4'>
      <div class='square transition fast' data-toggle='modal' data-target='#daniel'>
        <div class='hoverlay transition fast'>
          <h3>Daniel Dubois</h3>
          <p>
            Founder, ShareShed & Guiides.com
          </p>
        </div>
        <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Keynote/Daniel+Dubois.jpg' class='keynote-image transition' />
      </div>
    </div>

    <div class='col-sm-4'>
      <div class='square transition fast' data-toggle='modal' data-target='#milun'>
        <div class='hoverlay transition fast'>
          <h3>Milun Tesovic</h3>
          <p>
            Partner, Expa
          </p>
        </div>
        <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Keynote/Milun+Tesovic.jpg' class='keynote-image transition' />
      </div>
    </div>

  </div>

  <div class='page-space-xl'></div>
</div>
