<div class="modal fade" id="igor" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content panel-primary">
      <div class="modal-header panel-heading">
        <center>
          <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Keynote/Igor+Faletski.jpeg' width='100%' />
        </center>
      </div>
      <div class="modal-body panel-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class='modal-container'>
          <h3>
            Igor Faletski : <a href='https://www.mobify.com/team-member/igor-faletski/'> CEO @ Mobify</a>
          </h3>
          <a href='https://www.linkedin.com/in/igorfaletski/'>
            <i class='fa fa-linkedin' aria-hidden='true'></i>
          </a>
          <div class='page-space'></div>
          <p>
            As CEO and co-founder, Igor has successfully scaled Mobify from three people working in a downtown Vancouver apartment to the global leader in mobile commerce and engagement solutions for retailers. With a strong background in computer science and software engineering, Igor is a passionate spokesperson for the future of mobile and its positive impact on society. He is frequently quoted in media outlets such as Forbes, Harvard Business Review, Mashable and VentureBeat. In his spare time, Igor trains as an open water swimmer aspiring to one day cross English Bay from West Vancouver to Kitsilano.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="daniel" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content panel-primary">
      <div class="modal-header panel-heading">
        <center>
          <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Keynote/Daniel+Dubois.jpg' width='100%' />
        </center>
      </div>
      <div class="modal-body panel-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class='modal-container'>
          <h3>
            Daniel Dubois : <a href='https://guiides.com/our-team/'>ShareShed & Guiides.com</a>
          </h3>
          <a href='https://www.linkedin.com/in/danielmdubois/'>
            <i class='fa fa-linkedin' aria-hidden='true'></i>
          </a>
          <div class='page-space'></div>
          <p>
            Daniel is a passionate adventurer and changemaker. Daniel is one of ten Canadian founders under the age of 25 that was chosen for The Next Big Thing as an Entrepreneur in Residence at Hootsuite. He is creating a world of unlimited access to adventure as the founder of ShareShed and Guiides.com and also spoke on stage in front of 20,000 youth at We Day, directed a film series on the collaborative economy, received a monthly grant from the Austrian government to conduct research on the European sharing economy, and traveled to over 30 countries.
          </p>
          <p>
            Since arriving at TNBT Daniel has been named Top 30 Under 30 by BCBusiness Magazine as well as a Canadian G20 Delegate. In his spare time you can find Daniel stand up paddle boarding off of Kits Beach and exploring the local mountains.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="milun" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content panel-primary">
      <div class="modal-header panel-heading">
        <center>
          <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Keynote/Milun+Tesovic.jpg' width='100%' />
        </center>
      </div>
      <div class="modal-body panel-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class='modal-container'>
          <h3>
            Milun Tesovic : <a href='http://expa.com/news/milun/'>Expa</a>
          </h3>
          <a href='https://www.linkedin.com/in/miluntesovic/'>
            <i class='fa fa-linkedin' aria-hidden='true'></i>
          </a>
          <div class='page-space'></div>
          <p>
            As a former entrepreneur turned early stage investor, Milun currently participates in various funds targeting online startups and offline ventures. A globally relevant motivational speaker, he has presented in over 50 conferences world-wide and received accolates such as <b>Billboard's Top 30 Under 30</b>.
          </p>
          <p>
            Today, Milun splits his time between Vancouver and New York, actiing as advisor and mentor to numerous startups such as <i>Food.ee, Indiloop and Quiet.ly</i>. As a strong believer in the "pay-it-forward" movement, he seeks to support young visionaries and partners with small / medium sized businesses that resonate with his drive to foster innovative growth initiatives.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
