<div class='footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-3 col-sm-3 col-xs-3'>
        <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/logo.png' class='footer-logo' />
      </div>

      <div class='col-sm-offset-2 col-sm-4 col-xs-offset-2 col-xs-4 footer-text'>
        <p>
          Adfasdf
        </p>
      </div>
    </div>
  </div>
</div>
