<nav class='navbar navbar-default navbar-fixed-top transition'>
  <div class='container'>

    <!-- LOGO -->
    <ul class='nav navbar-nav navbar-left'>
      <li class='nav-brand'>
        <%=link_to root_path, class: 'navbar-brand' do%>
          <%= image_tag 'https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Asset/Rina-Startup+Hacks+Conf+-VS2.png', class: 'nav-logo' %>
        <%end%>
      </li>
    </ul>

    <!-- REGISTER BUTTON -->
    <div class='nav navbar-nav navbar-right'>
      <%= link_to 'Register', 'https://www.eventbrite.com/e/startup-hacks-2017-entrepreneurship-business-conference-tickets-30807089835', class: 'btn btn-warning btn-sm transition', id: 'nav-btn' %>
    </div>

    <!-- NAVLINKS -->
    <ul class='nav navbar-nav navbar-right'>
      <li><%= link_to 'Schedule', 'https://www.eventbrite.com/e/startup-hacks-2017-entrepreneurship-business-conference-tickets-30807089835' %></li>
    </ul>

  </div>
</nav>
